* {
    margin: 0;
    padding: 0;
}

#bg-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

nav {
    padding: 10px;
    background-color: rgba(102, 190, 9, 0); 
    color: white;
    display: flex;
    align-items: left;
    justify-content: left;
    position: absolute;
    height: 40px;
    z-index: 1;
}

.back-button {
    position: absolute;
    left: 20px;
    background-color: rgb(32, 125, 196);
    color: rgb(251, 251, 254);
    border: rgb(43, 157, 214);
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-size: 20px;
}

.back-button:hover {
    background-color: red;
    color: white;
    transform: translateY(-2px);
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    height: 100%;
    width: 100%; 
    position: relative;
}

.left-side, .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0); /* Adjust transparency here */
    color: white;
}

.left-side {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.btn {
    border: 2px solid rgba(255, 255, 255, 0);
    border-color: black;
    border-radius: 15px;
    color: black;
    background: rgba(30, 33, 103, 0);
    padding: 20px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 0; 
    width: 30%;
    text-align: center;
    transition: transform 0.2s, background-color 0.2s;
}

.btn:hover {
    color: rgb(251, 7, 7);
    border-color: aqua;
    transform: scale(1.1);
}

.right-side img {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

h1 {
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5rem;
    text-align: center;
    z-index: 1;
}